.navbar-brand{
  background-color: rgb(217, 4, 41);
  border: 7px;
  border-style:groove;
  border-color: rgb(255, 255, 255) rgb(255, 238, 238);
  border-radius:100%;
  font-size: 30px;
  font-family:fantasy;
  -webkit-text-fill-color: rgb(237, 242, 244);
  -webkit-text-stroke-color: rgb(43, 45, 66);
  -webkit-text-stroke: 2px;
  margin-left: 30px;
}
.navbar{
  background-color: rgb(43, 45, 66);
  --bs-navbar-hover-color: rgb(239, 35, 60);
}
.nav-link{
  color: rgb(237, 242, 244);
  font-variant-caps: all-petite-caps;
  font-size: larger;
  margin-right: 50px;
}
.navbar-toggler{
  background-color: rgb(237, 242, 244);
}
.masthead{
  background-color: rgb(237, 242, 244);
  padding: 50px;
}
.masthead-heading{
  font-family:fantasy;
  font-size: 50px;
}
.masthead-subheading{
  font-style: oblique;
  font-size: 20px;
}
body{
  background-color: rgb(237, 242, 244);
}
.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: rgb(217, 4, 41);
  --bs-btn-border-color: rgb(43, 45, 66);
  --bs-btn-hover-color: rgb(217, 4, 41);
  --bs-btn-hover-bg: --bs-white;
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}