{% extends 'motores_ha/base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block contenido %}

    <!-- HEADER -->
    <div class="container-fluid">
        <div class="row row-cols-1">
          <div class="col text-center">
            <h1 id="bienvenida" class="align-items-center">Agregar vehículos</h1>
            <h3 class="align-items-center">Por favor rellena todos los campos</h3>
          </div>
        </div>
      </div>
    <!-- FIN HEADER -->

    <hr class="my-5">

    <section class="container" style="padding-inline-start: auto; padding-inline-end: auto;">
        <div class="row d-flex justify-content-center">
            <div class="col-12 cold-md-6">
                <div id="formulario_vehiculo" class="card">
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{form | crispy}}
                            <div class="d-flex justify-content-evenly">
                                <input type="submit" value="Guardar" class="btn btn-primary">
                                <input type="submit" value="Cancelar" class="btn btn-secondary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}