{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Motores HA!</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
      />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
      <link rel="stylesheet" href="{% static 'motores_ha/css/style.css' %}" />

    <style>
      .fondo {
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-image: url("{% static 'motores_ha/img/main_bg.jpeg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
      }
    </style>

  </head>
  <body>

    <div class="fondo"></div>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-md pe-3">
      <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
        <div class="container">
          <img id="logo_navbar" src="{% static 'motores_ha/img/logo.png' %}" alt="logo" />
        </div>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <div class="d-flex justify-content-center text-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'todos-los-vehiculos' %}">Todos los vehículos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'condicion-nuevo' %}">Nuevos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'condicion-usado' %}">Usados</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menú
              </a>
              <ul class="dropdown-menu p-0 m-0">
                <li><a class="dropdown-item" href="{% url 'log-in' %}">Iniciar sesión</a></li>
                <li><a class="dropdown-item" href="{% url 'sign-in' %}">Registro</a></li>
                <li><a class="dropdown-item" href="{% url 'reservas' %}">Reservas</a></li>
                <li><a class="dropdown-item" href="{% url 'agregar-vehiculo' %}">Agregar Vehículo</a></li>
                <li><a class="dropdown-item" href="{% url 'listar-vehiculo' %}">Lista de Vehículos</a></li>
                <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </nav>
    <!-- FIN NAVBAR -->

    <section
        id="login-web"
        class="m-1 d-flex justify-content-center align-items-center"
      >
        <div class="bg-secondary bg-opacity-25 p-5 rounded-5">
          <div class="d-flex justify-content-center">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="88" height="88" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round" alt="login-user">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                <path d="M20 12h-13l3 -3m0 6l-3 -3" />
              </svg>
            </div>
          </div>
          <div class="text-center fs-3 fw-bold">Inicio de Sesión</div>
          <div>
            <input
              class="form-control mb-2"
              type="text"
              placeholder="Nombre de usuario"
            />
          </div>
          <div>
            <input
              class="form-control mb-3"
              type="password"
              placeholder="Contraseña"
            />
          </div>
          <div class="d-flex justify-content-around">
            <div class="d-flex align-items-center">
              <input type="checkbox" />
              <div>Recuérdame</div>
            </div>
          </div>
          <div>
            <a
              class="text-decoration-none fw-semibold fst-italic text-muted"
              href="#"
              >Olvidaste tu contraseña?</a
            >
          </div>
          <div>
            <button
              type="button"
              class="btn btn-primary w-100"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Conectar
            </button>
          </div>
        </div>
      </section>

    <!-- FOOTER -->
    <div id="footer" class="container-fluid pb-1 fixed-bottom">
      <footer class="py-2 my-2">
        <ul class="nav justify-content-center border-bottom">
          <li class="nav-item"><a href="index.html" class="nav-link px-2">Inicio</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2">Cómo vender</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2">Cómo comprar</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2">Foro</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" role="button" aria-controls="offcanvasRight">Sobre nosotros</a></li>
        </ul>

        <!-- OFFCANVA MAPA -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Ubicación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="mapa">
              <div id="map"></div><br>
              <h2>Sobre nosotros.</h2>
              <p>En Motores HA, su confianza es nuestra máxima prioridad. 
                Con más de 30 años de trayectoria en la industria del automóvil, 
                nos enorgullece ser el distribuidor preferido de vehículos de alta calidad en nuestra región. 
                Nuestra misión es ofrecer a nuestros valiosos clientes no solo coches de calidad superior, 
                sino también una experiencia de compra única e inolvidable. 
                Creemos en el arte de la movilidad y el lujo de viajar con comodidad, 
                y es por eso que cada vehículo en nuestro showroom es una cuidada selección que combina ingeniería de vanguardia, 
                rendimiento óptimo y elegancia estética. 
                Nuestro equipo de profesionales expertos y apasionados se dedica a ayudarle a encontrar el coche perfecto que se adapte a sus necesidades, 
                presupuesto y estilo de vida. En Motores HA, llevamos la satisfacción del cliente más allá de la venta, 
                proporcionando servicios posventa excepcionales para garantizar que su experiencia de conducción sea siempre la mejor. 
                Invitamos a cada persona que sueña con un viaje perfecto a unirse a la familia Motores HA.
              </p><br>
            </div>
          </div>
        </div>
        <!-- FIN OFFCANVA MAPA -->

        <script>
          function initMap() {
            var ubicacion = {lat: -41.470, lng: -72.925}; // Actualiza con la latitud y longitud de tu ubicación
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 17,
              center: ubicacion
            });
            var marker = new google.maps.Marker({
              position: ubicacion,
              map: map
            });
          }
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap">
        </script>
        <!-- Fin del código del mapa -->

        <p class="text-center text-white">© 2023 Motores HA!</p>
      </footer>
    </div>
    <!-- FIN FOOTER -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
